.academy_hero {
  background-image: radial-gradient(
    48.41% 206.28% at 44.72% 44.64%,
    rgba(255, 246, 147, 0.342) 3.65%,
    rgba(8, 31, 74, 0.2) 100%
  );
  padding-top: 11%;
  padding-bottom: 10%;
  /* position: relative; */
}
.academy_hero_md {
  background-image: radial-gradient(
    48.41% 206.28% at 44.72% 44.64%,
    rgba(255, 246, 147, 0.342) 3.65%,
    rgba(8, 31, 74, 0.2) 100%
  );
}

.bg-color {
  background-image: radial-gradient(
    48.41% 206.28% at 44.72% 44.64%,
    rgba(255, 246, 147, 0.183) 3.65%,
    rgba(8, 31, 74, 0.182) 100%
  );
}
