.navbar{
    display: flex;
    justify-content: space-between;
    padding: 14px 80px;
    background-color: #081F4A;
}


.navbar_list{
    
    display: flex;
    list-style: none;
    margin-left: 30%;
    color:white
}

.navbar_listItem{
     flex:0 0 auto;
    padding: 20px;
}

