.writingImage {
    position: absolute;
    left: -20%;
    top: -20%;
}

@media (max-width: 800px) {
    .upcomingSection {
        justify-content: center;
        align-items: center;
        padding-top: 10rem;
    }

    .box {
        width: max-content;
        height: max-content;

    }

    .boxText {
        text-align: center;
        align-items: center;
    }

    .writingImage {
        display: none;
    }
}