.upcomingSection {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background: radial-gradient(48.41% 206.28% at 44.72% 44.64%,
            rgba(255, 234, 0, 0.2) 3.65%,
            rgba(8, 31, 74, 0.2) 100%);
    padding-top: 15rem;
    padding-bottom: 10rem;
    padding-left: 5rem;
    padding-right: 5rem;
}

.box {
    position: relative;
    display: flex;
    justify-content: right;
    align-items: flex-end;
    width: 997px;
    height: 532px;
    background: #081F4A;
    border-radius: 30px;

}

.boxText {

    display: flex;
    flex-direction: column;
    margin: 6rem 2rem;
    gap: 2rem;
    justify-content: center;
    text-align: right;
    align-items: flex-end;
}

.boxHeader {
    font-weight: 700;
    font-size: 58px;
    line-height: 70px;
    text-align: center;
    color: #ECF2FD;
}

.box-paragraph {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;

    color: #ECF2FD;
}

.enroll-btn {
    width: 205px;
    height: 60px;
    background: #FFEA00;
    border-radius: 10px;
    color: #081F4A;
}

.get-btn {
    width: 191px;
    height: 60px;
    border: 1px solid #FFEA00;
    border-radius: 10px;
    color: #FFEA00;
}

.writingImage {
    position: absolute;
    left: -20%;
    top: -20%;
}

@media (max-width: 800px) {
    .upcomingSection {
        justify-content: center;
        align-items: center;
        padding-top: 10rem;
    }

    .box {
        width: max-content;
        height: max-content;

    }

    .boxText {
        text-align: center;
        align-items: center;
    }

    .writingImage {
        display: none;
    }
}