@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
  --color-primary: #081F4A;
  --color-secondary: #C5D7F9;
  --color-secondary-light: #ECF2FD;
  --color-text-secondary: #5B6773;
  --color-yellow: #FFEA00;
  --color-white: #FFFFFF;
  --live-bg: rgba(236, 242, 253, 0.6);
  --body-font: 'Lato', sans-serif;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(216, 216, 216);
  border-radius: 40px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
  background: radial-gradient(48.41% 206.28% at 44.72% 44.64%, rgba(255, 234, 0, 0.2) 3.65%, rgba(8, 31, 74, 0.2) 100%);
}

a {
  text-decoration: none;
  color: inherit;
}
